# JavaScript / TypeScript
node_modules
dist
yarn-error.log
tsconfig.tsbuildinfo
yarn.lock
package-lock.json

# Python
*.cpython*
venv

# Environment
.env
.env.*

# Serverless
.serverless/

# Django
django_iam.egg-info
__pycache__
db.sqlite3
