#> Environment Section
# Docker environment
.env

# Django environments
linux-venv/
windows-env/

# Pycache
__pycache__/
*.pyc

# SQLite
*.sqlite3

#> Media Section
# Audios
*.ogg
*.mp3

# Images
*.jpg
*.png
*.gif
*.svg

# Fonts
*.ttf

# SPDX-License-Identifier: (EUPL-1.2)
# Copyright © 2019-2022 snek.at
