service: template
frameworkVersion: '3'

plugins:
  - serverless-offline
  - serverless-plugin-ifelse

custom:
  isOffline: ${env:IS_OFFLINE, "false"}
  serverlessIfElse:
    - If: '"${self:custom.isOffline}" != "true"'
      Exclude:
        - functions.endpoint.handler
        - provider.environment.CODESPACE_NAME
      ElseExclude:
        - functions.endpoint.image

provider:
  name: aws
  region: eu-central-1

  environment:
    CODESPACE_NAME: ${env:CODESPACE_NAME, ""}

  ecr:
    images:
      appimage:
        path: ./

functions:
  endpoint:
    image:
      name: appimage
      command:
        - dist/app.handler
    handler: dist/app.handler
    events:
      - httpApi:
          path: '*'
          method: '*'
